header nav {
  margin-left: auto;
  // Global Styles
  a {
    // padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 13px;
    transition: all 0.27s ease;
    text-transform: uppercase;
    font-weight: 400;

    &:focus,
    &:hover {}
  }
  // Top level Only
  > ul {
    @include list-unstyled;
    display: flex;
    justify-content: space-between;
    @include media-sm-max {
      // hide nav in mobile
      display: none;
    }

    &:hover li:not(:hover) {
      opacity: 0.5;
    }

    > li {
      display: inline-flex;
      align-items: center;
      transition: opacity 0.2s;
      position: relative;
      padding: 0 1rem;

      &:last-child {
        padding-right: 0;
      }

      &.active {}

      &.selected {
        > a {
          box-shadow: inset 0 -2px white;
          margin-top: 0.5rem;
          padding-bottom: 0.5rem;
        }
      }
    }
  }
}
// Mobile Button toggle

.mobile-menu {
  display: block;
  @include media-md-min {
    display: none;
  }
}


.mobile-menu-overlay {
  pointer-events: none;
  z-index: -1;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 110px;
  left: 0;
  transition: .6s ease;

  @include media-sm-max {
    .mobile-toggle-active & {
      // background-color: white;
      background: linear-gradient(180deg , $base-primary-color, $base-primary-color 50% , $base-secondary-color);
      pointer-events: all;
      z-index: 99;
      opacity: 1;
      overflow: scroll;

      nav {
        transform: translateX(0px);
        opacity: 1;
      }
    }

  }

  // Mobile Overlay Menu
  nav {
    transform: translateX(50px);
    opacity: 0;
    transition: .6s cubic-bezier(.87,-.41,.19,1.44);
    padding: 1rem 0 126px; // 110px + 1rem
    > ul {
      @include list-unstyled;
      > li {
        > a {
          color: white;
          padding: 0 0 1rem;
          display: flex;
          font-weight: 600;
          transition: color .27s ease;
          &:hover, &:focus {
            color: darken(white, 15%);
          }
        }
      }
    }
  }

}


.mobile-toggle-active {
  overflow: hidden;
}
