<section class="contact-us">
  <div class="container">
    <h2>Contact Us</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse orci lacus, dapibus non quam ut, elementum aliquet ligula. Vivamus sollicitudin libero at urna vulputate, quis posuere metus dignissim.</p>
    <fieldset>
      <form>
        <p>
          <label for="name">Name</label>
          <input type="text" id="name" class="half" placeholder="Name">
          <label for="email">Email:</label>
          <input type="text" id="email" class="half" placeholder="Email">
        </p>
        <p>
          <label for="subject">Subject</label>
          <input type="text" id="subject" class="full" placeholder="Subject">
        </p>
        <p><label for="message">Message</label>
          <textarea id="message" class="full" placeholder="Message"></textarea>
        </p>
        <p>
          <input type="submit" value="Send Message"  id="message" class="full btn solid-gradient sq"> </p>
      </form>
    </fieldset>
  </div>
</section>
