<section class="cta-block">
  <div class="container">
    <h2>Download APP Now</h2>
    <p class="lead light-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
      vestibulum enim quis ullamcorper luctus. Cras commodo dolor neque,
      ullamcorper dapibus magna dictum in.
    </p>

    <div class="btn-group">
      <a href="#" class="btn trans-white apple">Apple Store</a>
      <a href="#" class="btn trans-white google">Google Play</a>
    </div>
  </div>
</section>
