<section class="pricing-plans">
<div class="container">
  <h2> Pricing Plans </h2>
  <p> Aliquam dignissim odio ac viverra finibus. Maecenas nec faucibus neque. Ut efficitur mauris velit, eget dictum orci tristique a. Nullam sed faucibus sem, in vulputate nisi. </p>

  <div class="pricing-tables-wrap">
    <div class="pricing-table-box">
        <div class="top">
        <span class="title">Standard</span>
        <span class="pricing"><strong>$12</strong>/month<span>
        </div>
        <div class="bottom">
          <ul>
            <li class="tick"> First description here </li>
            <li class="tick"> 2nd description here </li>
            <li class="cross"> Unlimited Data Service </li>
            <li class="cross"> 60gb Bandwith Free</li>
            <li class="cross"> 24/7 Customer Support </li>
          </ul>
          <a href="#" class="btn gradient-clear">Signup Now</a>
        </div>
    </div>
    <div class="pricing-table-box">
        <div class="top">
        <span class="title">Business</span>
        <span class="pricing"><strong>$30</strong>/month<span>
        </div>
        <div class="bottom">
          <ul>
            <li class="tick"> First description here </li>
            <li class="tick"> 2nd description here </li>
            <li class="tick"> Unlimited Data Service </li>
            <li class="cross"> 60gb Bandwith Free</li>
            <li class="cross"> 24/7 Customer Support </li>
          </ul>
          <a href="#" class="btn gradient-clear">Signup Now</a>

        </div>
    </div>
    <div class="pricing-table-box">
        <div class="top">
        <span class="title">Premium</span>
        <span class="pricing"><strong>$50</strong>/month<span>
        </div>
        <div class="bottom">
          <ul>
            <li class="tick"> First description here </li>
            <li class="tick"> 2nd description here </li>
            <li class="tick"> Unlimited Data Service </li>
            <li class="tick"> 60gb Bandwith Free</li>
            <li class="tick"> 24/7 Customer Support </li>
          </ul>
          <a href="#" class="btn gradient-clear">Signup Now</a>

        </div>
    </div>
  </div>
</div>
</section>
