.container {
  margin-right: auto;
  margin-left: auto;
  padding-left:  (grid-gutter-width / 2);
  padding-right: (grid-gutter-width / 2);

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
  
}
