// --------------------------------------------------------------------------
// Mixin: Responsive Tools
// --------------------------------------------------------------------------
// Device media queries
//
// Write cleaner media queries.
// eg.
//  @include media-md-min {
//    font-size: 2em;
//  }
@mixin media-sm-min {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}
@mixin media-md-min {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}
@mixin media-lg-min {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}
@mixin media-xs-max {
  @media (max-width: #{$screen-xs-max}) {
    @content;
  }
}
@mixin media-sm-max {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}
@mixin media-md-max {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}
// Lists
@mixin list-unstyled() {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
// fort awesome
@mixin fa-icon() {
  display: inline-block;
  font: normal normal normal 14px/1 "Font Awesome 5 Free";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 900;
}
@mixin fab-icon() {
  display: inline-block;
  font: normal normal normal 14px/1 "Font Awesome 5 Brands";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 900;
}
// IE11 Only
@mixin ie11 {
  @media screen and (min-width: 0\0) and (min-resolution: +72dpi) {
    @content;
  }
}
// Safari Only
@mixin safari {
  @media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio:0) {
    @content;
  }
}
