@include typi-init;

body {
  @include typi('base');
  font-family: $font-family-base;
  line-height: $base-line-height;
}

header {
  font-size: 14px;
}

h1 {
  @include typi('h1');
}

h2 {
  @include typi('h2');
}

h3 {
  @include typi('h3');
}

h4 {
  @include typi('h4');
}

h5 {
  @include typi('h5');
}

h6 {
  @include typi('h6');
}

h1, h2, h3 , h4 , h5, h6 {
  font-family: $title-font;
  word-wrap: break-word;
  color: $title-color;
  > strong {
    font-family: $title-font;
    font-weight: 600;
  }
}

p, h1, h2, h3 , h4 , h5, h6  {
  margin-bottom: 1rem;
}
