@include typi-init;

body {
  @include typi("base");
  font-family: $font-family-base;
  line-height: $base-line-height;
  letter-spacing: 0.03rem;
}

h1 {
  @include typi("h1");
}

h2 {
  @include typi("h2");
}

h3 {
  @include typi("h3");
}

h4 {
  @include typi("h4");
}

h5 {
  @include typi("h5");
}

h6 {
  @include typi("h6");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font;
  word-wrap: break-word;
  color: $title-color;
  text-transform: uppercase;
  margin: 0 0 2rem;

  > strong {
    font-family: $title-font;
    font-weight: 600;
  }
}

a {
  text-decoration: none;
  color: $base-primary-color;
}

hr {
  margin: 0 0 2rem;
}
