.hero {
  height: 70vh;
  min-height: 500px;
  margin-top: -110px;
  background: linear-gradient(
    90deg,
    $base-primary-color,
    $base-primary-color 50%,
    $base-secondary-color
  );

  @include media-xs-max {
    min-height: unset;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    @include ie11 {
      margin-top: 110px;
    }

    h1,
    span {
      color: white;
      max-width: 600px;
      @include media-xs-max {
        max-width: 100%;
        text-align: center;
      }
    }
    h1 {
      font-size: 42px;
      text-transform: uppercase;
      @include media-sm-max {
        font-size: 32px;
      }
    }
    span {
      font-size: 15px;
      margin-bottom: 3rem;
    }
  }
}
