.cta-block {
  background: linear-gradient(
    90deg,
    $base-primary-color,
    $base-primary-color 50%,
    $base-secondary-color
  );

  h2,
  p {
    text-align: center;
    display: block;
    color: white;
  }

  h2 {
    margin: 0;
  }

  .btn {
    align-items: center;
    font-size: 16px;
    text-transform: capitalize;
    justify-content: center;

    @include media-xs-max {
      font-size: 14px;
    }

    &::before {
      @include fab-icon;
      margin-right: 0.5rem;
      font-size: 2rem;
      @include media-xs-max {
        font-size: 1rem;
      }
    }

    &.google::before {
      content: "\f17b";
    }

    &.apple::before {
      content: "\f179";
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    @include media-sm-min {
      align-items: center;
    }
  }
}
